.buttonWrapper {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    width: 92.5%;
}

.buttonWrapper_btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 100%;
    border: none;
    margin-left: 16px;
    padding: 8px 24px;
}

.buttonWrapper_span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #262626;
}

.buttonWrapper_button__active {
    background: #0468FF;
}

.buttonWrapper_button__active span {
    color: #fff;
}


