.menu {
    width: 100%;
    height: 100px;
    background: #fff;
    position: fixed;
    bottom: -1px;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu div {
    width: 15%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu span {
    color: #101828;
    color: #98A2B3;
}

.menu img {
    width: 16px;
}

.menu div:hover svg path {
    fill: #7F56D9;
}

.menu div:hover span {
    color: #7F56D9;
}


@media screen and (max-width: 768px) {
    .menu {
        display: flex;
    }
}
