.swiper__slide {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.swiper_button__next, .swiper_button__prev {
    width: 50px;
    height: 50px;
    background-image: url("../../imgs/arrow_right.svg");
    background-repeat: no-repeat;
    position: absolute;

}

.swiper_button__prev {
    background-image: url("../../imgs/arrow_left.svg");
    left: -10px;
    top: 70px;
}

.swiper_button__next {
    background-image: url("../../imgs/arrow_right.svg");
    right: -30px;
    top: 70px;
}