.title {
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 0.5px;
}

.title_h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 51px;
}

.title_h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
}