.secondary_buttonWrapper__btn {
    background: #0468FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 100%;
    border: none;
    margin-left: 16px;
    padding: 8px 24px;
}

.secondary_buttonWrapper__btn:hover {
    background: #0052CC;
}

.secondary_buttonWrapper__btn:active {
    background: #0043A7;
}

.secondary_buttonWrapper__span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
