@font-face {
    font-family: "Roboto";
    src: url("/src/fonts/roboto/Roboto.woff2")
    format("woff2"),
    url("/src/fonts/roboto/Roboto.woff")
    format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("/src/fonts/montserrat/montserrat.woff2")
    format("woff2"),
    url("/src/fonts/montserrat/montserrat.woff")
    format("woff");
}

* {
    outline: 0 !important;
}

