@font-face {
    font-family: "Inter";
    src: url("/src/fonts/inter/Inter-Regular.woff2")
    format("woff2"),
    url("/src/fonts/inter/Inter-Regular.woff")
    format("woff");
}


body {
    position: relative;
}
.app-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.app-wrapper-content {
    background: #F9F5FF;
}

@media screen and (max-width: 320px) {
    .app-wrapper {
        overflow: hidden;
    }
}
